.contenedor {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  
  .dm, .gx, .yusei {
    width: 500px;
    height: 350px;
    background-color: white;
    margin: 5px;
    padding: 5px;   
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 2px 5px rgba(41,173,255,0); 
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 2px 5px rgba(41,173,255,0);
    background: #1C6EA4;
}
  p{
    color: azure;
    text-align: justify;
  }
  h3{
    color: azure;
    text-align: center;
  }
  
