.imagen1{
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.imagen2{
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.imagen3{
    height: 150px;
    width: 150px;
    object-fit: cover;
}
